<DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styleSearch.css">
	<title> NAME OF CLOTHING </title>
</head>

<body>
    <body>
    <div id="container">
        <div id="home-navbar">
            <div id="logo-button">
                <a href='/index' id="logo-icon">
                    <img src="assets/img/logo-icon.jpg" height="50px" width="50px">
                </a>
            </div>
            <div id="navbar-search-tile">
                <div id="navbar-search-box">
                    <div id="navbar-search-icon">
                        <img src="assets/img/search-icon.png" height="30px" width="30px">
                    </div>
                    <input id="navbar-search-query" type="text" placeholder="Search here...">
                </div>
            </div>
            <div id="navbar-content">
                <div class="drop-down-tile">
                    <a href="/search/Mens" class="drop-down-text">
                        Men
                    </a>
                </div>
                <div class="drop-down-tile">
                    <a href="/search/Womens" class="drop-down-text">
                        Women
                    </a>
                </div>
                <div class="drop-down-tile">
                    <div class="drop-down-text">
                        Account
                    </div>
                </div>
            </div>
            <div id="cart-button">
                <div id="cart-icon">
                    <img src="assets/img/cart-icon.png" height="50px" width="50px">
                </div>
            </div>
        </div>
    </div>

<div id="search-text">
</div>

<div id="selected-background">
    <div id="selected-cloth">
    </div>
</div>

<div id="selected-general">

    <div id="selected-full-desc">
        <img src="<%=@Item.imagelink%>"; id="selected">
        <div id="selected-desc">
            <p id="type">Gender: <%=@Item.gender%> </p><br/>
            <p id="type">Apparel Type: <%=@Item.apparel%> </p><br/>
            <p id="type">Size: <%=@Item.size%> </p><br/>
            <p id="type"> Price: <%=@Item.price%> </p><br/>
        </div>

    <div id="selected-arrival">
        <form action="/action_page.php">
            <p id="type">Date Requested: <input type="text" name="date-requested"> <br/>
            Date Returning: <input type="text" name="date-returning"></p>
        </form>
    </div>
</div>



<div id="selected-background-2">
    <div id="like-cloth">
        <p style="text-align: left"> Other Clothes You May Like </p>
    </div>
</div>

</body>



<script type="text/javascript" src="assets/js/script.js"> </script>

</html>
